build_log
build
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*.ipk
*~
Makefile.in
ltmain.sh
configure
config.h.in
aclocal.m4
*-obj-arm-linux-gnueabi
*.cache
*.substvars
debian/e17-extra-modules-dbg
debian/e17-extra-modules
debian/files
