Source: e17-extra-modules
Priority: extra
Maintainer: Doyoun Kang <doyoun.kang@samsung.com>, Gwanglim Lee <gl77.lee@samsung.com>, Gwangyeong Mun <kk.moon@samsung.com>, Sangjin Lee <lsj119@samsung.com>, Sung-Jin Park <sj76.park@samsung.com>, Duna Oh <duna.oh@samsung.com>, SooChan Lim <sc1.lim@samsung.com>
Build-Depends: debhelper (>= 5), e17-dev, libslp-utilx-dev, libelm-dev, libpixman-1-dev, dlog-dev
Standards-Version: 3.8.3
Section: libs

Package: e17-extra-modules
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The E17 Extra Modules
 The E17 extra modules consists of modules made by SAMSUNG.

Package: e17-extra-modules-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The debug version of E17 Extra Modules
 The E17 extra modules consists of modules made by SAMSUNG.

